* {
    margin: 0%;
    padding: 0%;
    border: 0;
}

@font-face { 
    font-family: "GilroyBold";
    src: url("/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face { 
    font-family: "GilroyMedium";
    src: url("/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 1170px/2);
    padding-right: calc(50% - 1170px/2);
}

.nav {
    margin-top: 51px;
    margin-bottom: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-right: 14px;
}

.nav-menu {
    color: #000;
    font-family: "Gilroy-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 36px;
}

.nav-menu-links {
    color: #000;
    font-family: "Gilroy-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 36px;
}

.orange-color {
    color: #F25822;
}

.text-logo-Grow {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-logo-Be {
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-top-text {
    margin-right: 41px;
    display: flex;
    flex-direction: column;

}

.content-top-h1 {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 522px;
    margin-bottom: 17px;
}

.paragraph {
    color: #888;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
    height: 48px;
}

.content-top-text-buttons {
    display: flex;
    align-items: center;
    gap: 72px;
    margin-top: 37px;
}

.button-left {
    color: #FFF;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 140px;
    height: 50px;
    flex-shrink: 0;

    border-radius: 50px;
    background: #F25822;

    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.button-right {
    color: #AAA;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-logo {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-around;
}

.content-top {
    display: flex;
    flex-direction: row;

}